* {
  margin: 0px;
  padding: 0px; }

body {
  background: linear-gradient(90deg, #808080 0%, #000000 100%);
  font-family: "Nunito", sans-serif;
  font-style: normal; }

h1, p {
  color: white;
  font-weight: 300; }

.transparent-back {
  background: transparent; }

/* INDEX */
.AnimationWriting {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .30em;
  font-style: bold;
  animation: typing 2s steps(40, end), blink-caret 0.15s step-end infinite; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: transparent; } }

.grider {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto; }

.columns__text {
  display: grid;
  grid-column-start: 1;
  min-height: 100px;
  width: 100%;
  padding-top: 15em; }

.columns__phone {
  display: grid;
  grid-column-start: 2;
  min-height: 100px;
  width: 100%;
  padding-top: 10em; }

.columns__phone--img {
  transform: skew(10deg);
  animation: shake 1s infinite;
  animation-direction: alternate; }

@keyframes shake {
  0% {
    transform: skewY(-10deg); }
  100% {
    transform: skewY(10deg); } }

.flexcenter {
  display: flex;
  justify-content: center; }

/* QUE ES CRIPTO */
.cripto__container {
  color: white; }

.cripto__container--flex {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 4em; }

/* MONEDAS */
.MonedasTitulo {
  padding-top: 2em;
  font-size: 3em; }

.TableColor {
  background: transparent;
  color: white; }

/* CURSOS */
.video__grid {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 0em; }

.video__grid--content {
  padding-right: 1em; }

.AprendeMas {
  color: white;
  font-size: 3em;
  padding-top: 1em;
  padding-bottom: 1em; }

.CarouselText {
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
  text-decoration: underline;
  color: white; }

.VideoTitulo {
  color: white;
  text-decoration: underline; }

/* NOSOTROS */
.form__contactanos {
  padding-top: 1em;
  color: white;
  font-size: 3em; }

.form__contacto {
  padding-top: 2em; }

.form__boton--limpiar {
  background-color: grey;
  border-color: black; }

.form__boton--enviar {
  background-color: grey;
  border-color: black; }

.form__boton--limpiar:hover {
  background-color: red;
  border-color: black;
  cursor: pointer; }

.form__boton--enviar:hover {
  background-color: green;
  border-color: green;
  cursor: pointer; }

.not__found {
  display: flex;
  color: white;
  justify-content: center;
  padding-top: 8em;
  align-items: center;
  flex-direction: column; }

.not__found--text {
  padding-top: 5px; }

/* FOOTER GENERICO */
.footer__grider {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 0%;
  padding-top: 5em; }

.footer__redes {
  display: grid;
  grid-column-start: 3;
  grid-row-start: 3; }

.footer__derechos {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 3; }
  .footer__derechos a {
    text-decoration: none !important;
    color: white;
    font-size: 0.9em; }

.footer__apple {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 0; }

.footer__apple--flex {
  display: flex;
  justify-content: center; }

.footer__redes--flex {
  display: flex;
  justify-content: flex-end; }

/* MOBILE */
@media screen and (max-width: 750px) {
  /* INDEX */
  .columns__text {
    display: grid;
    grid-column-start: 1;
    min-height: 100px;
    width: 100%;
    padding-top: 5em; }
  .columns__phone {
    display: grid;
    grid-column: 1;
    grid-row: 2; }
  .flexcenter {
    display: flex;
    justify-content: flex-start; }
  /* INDEX */
  .columns__phone--img {
    transform: skew(10deg);
    animation: shake 1s infinite;
    animation-direction: alternate;
    width: 250px;
    padding: 0px; }
  /* CURSOS */
  /* padding-right: 2em; */
  .video__grid--content {
    width: 200px;
    height: 100px;
    padding-bottom: 1em; }
  .VideoTitulo {
    font-size: 0.8em; }
  .CarouselText {
    font-size: 0.8em; }
  /* FIN CURSOS */
  /* 404 */
  .NotFound {
    display: flex;
    color: white;
    justify-content: center;
    padding-top: 8em;
    align-items: center;
    flex-direction: column; }
    .NotFound h1 {
      font-size: 1em; }
    .NotFound h5 {
      font-size: 0.5em; }
  /* FIN 404 */
  /* FOOTER */
  .footer__grider {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0%;
    padding-top: 5em; }
  .footer__derechos {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 3; }
    .footer__derechos a {
      text-decoration: none !important;
      color: white;
      font-size: 0.6em; }
  .footer__redes {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 2; }
  .footer__redes--flex {
    display: flex;
    justify-content: center; }
  .footer__apple {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 1; }
  /* FIN FOOTER */ }

/* IPAD */
@media screen and (max-width: 900px) {
  .video__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2em; } }
