.not__found{
    display: flex;
    color: white;
    justify-content: center;
    padding-top: 8em;
    align-items: center;
    flex-direction: column;
}

.not__found--text{
    padding-top: 5px;
}
