
/* CURSOS */
.video__grid{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 0em;
}

.video__grid--content{
padding-right: 1em;
}

.AprendeMas{
    color: white;
    font-size: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.CarouselText{
    display: flex;
    justify-content: center;
    padding-top: 1.5em;
    text-decoration: underline;
    color: white;
}

.VideoTitulo{
    color: white;
    text-decoration: underline;
}